{% extends 'profile/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/profile/profile_settings.css' %}">
{% endblock css %}


{% block content %}
<div class="name">
<p>First Name: {{user_form.first_name}}</p>
<p>Last Name: {{user_form.last_name}}</p>
</div>
{% if user.profile.is_teacher %}
<p>You are a teacher of the Studio {{user.profile.studio.name}} </p>
{% else %}
<p>You are a student </p>
{% endif %}
</div>
<button type="submit" class="btn btn-primary">Update</button>

</form>
</section>
{% endblock %}


</style>


