{% extends "access/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'access/login.css' %}">
{% endblock %}


{% block content %}


<h1>Login page</h1>

<form method="POST">
    <table> 
        
        {{ form }}
        
    </table>
    
    {% csrf_token %}
    <!-- #connecting? -->
    
    <button type="submit" class="btn btn-success">Login</button>
    <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
    <a href="{% url 'password_reset' %}">Forgot password?</a> 
    
</form>





{% endblock content %}