{% extends "yoga/base.html" %}

{% block content %}




<p><a href="{% url 'home' %}">Return to home</a></p>




<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}    
  <div class="form-row">
    {% for form in forms %}
    {% if form.errors %}
      {% for error in form.errors.values%}
        {{error}}
      {%endfor%}
    {% endif %}
    {% for field in form %}
    <div class="form-group col-md-6">
      {{field.label_tag}}
      {{field}}
    </div>
    {% endfor %}
    {% endfor %}
  </div>
    <button type="submit" name=submit class="btn btn-primary">Submit</button>
  </form>
  
  
{% endblock %}
