{% extends "yoga/base.html" %}

{% block content %}

<h1>All about the class</h1>
<div>
  
<form method="POST" enctype="multipart/form-data">
{% csrf_token %} 
{{classinfo_form}}

{{image_form}}
<button type="submit" class="btn btn-primary">Submit</button>
</form>




{% endblock %}
{%  comment %}

</div>
<button type="submit" class="btn btn-primary">Submit</button>
<div class="jumbotron">
    
          

    <h1 class="display-4">Hello, world!</h1>
    
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    {% for lesson in classinfo.lesson_set.all %}
    <p>time {{lesson.datetime}}</p>
    <p>duration {{lesson.duration}}</p>

    {% endfor %}
  </div>

  {% endcomment %}

